<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=  title %></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/img/favicon.svg"/>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="language-bar">
            <div class="language-option">                
                <% if(current_locale == 'en'){ %>
                    <img src="/img/flag.png" alt="">
                    <span>English</span>
                    <i class="fa fa-angle-down"></i>
                  <% } else{ %>  
                    <img src="/img/ch.png" alt="">
                    <span>China</span>
                    <i class="fa fa-angle-down"></i>
                 <% } %>


                <div class="flag-dropdown">
                    <ul>
                        <li>
                            <a href="/lang/en">
                            <img src="/img/flag.png" alt="">
                            <span><%= __('english') %></span>
                            </a>
                        </li>
                        <li>
                            <a href="/lang/ch">
                                <img src="/img/ch.png" alt="">
                                <span><%= __('china') %></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="property-btn">
                <a href="#" class="property-sub"><%= __('property_city') %></a>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="./index.html"><%= __('home') %></a></li>
                <li><a href="./property.html"><%= __('property') %></a></li>
                <li><a href="./about-us.html"><%= __('about') %></a></li>
                <li><a href="./blog.html"><%= __('news') %></a></li>
                <li><a href="./property-details.html"><%= __('pages') %></a></li>
                <li><a href="./contact.html"><%= __('contact_us') %></a></li>
            </ul>
        </nav>
        <div class="nav-logo-right">
            <ul>
                <li>
                    <i class="icon_phone"></i>
                    <div class="info-text">
                        <span><%= __('phone') %>:</span>
                        <p>(+12) 345 6789</p>
                    </div>
                </li>
                <li>
                    <i class="icon_map"></i>
                    <div class="info-text">
                        <span><%= __('address') %>:</span>
                        <p>16 Creek Ave, <span>NY</span></p>
                    </div>
                </li>
                <li>
                    <i class="icon_mail"></i>
                    <div class="info-text">
                        <span><%= __('email') %>:</span>
                        <p>Info.cololib@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <nav class="main-menu">
                            <ul>
                                <li><a href="/"><%= __('home') %></a></li>
                                <li><a href="./property.html"><%= __('property') %></a></li>
                                <li><a href="/about"><%= __('about') %></a></li>
                                <li><a href="./blog.html"><%= __('news') %></a></li>
                                <li><a href="./property-details.html"><%= __('pages') %></a></li>
                                <li><a href="/contact"><%= __('contact_us') %></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-5">
                        <div class="top-right">
                            <div class="language-option">
                                <% if(current_locale == 'en'){ %>
                                    <img src="/img/flag.png" alt="">
                                    <span><%= __('english') %></span>
                                    <i class="fa fa-angle-down"></i>
                                  <% } else{ %>  
                                    <img src="/img/ch.png" alt="">
                                    <span><%= __('china') %></span>
                                    <i class="fa fa-angle-down"></i>
                                 <% } %>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li>
                                            <a href="/lang/en">
                                                <img src="/img/flag.png" alt="">
                                                <span><%= __('english') %></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/lang/ch">
                                                <img src="/img/ch.png" alt="">
                                                <span><%= __('china') %></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#" class="property-sub"><%= __('submit_property') %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-logo-right">
                            <ul>
                                <li>
                                    <i class="icon_phone"></i>
                                    <div class="info-text">
                                        <span><%= __('phone') %>:</span>
                                        <p>(+12) 345 6789</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon_map"></i>
                                    <div class="info-text">
                                        <span><%= __('address') %>:</span>
                                        <p>16 Creek Ave, <span>NY</span></p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon_mail"></i>
                                    <div class="info-text">
                                        <span><%= __('email') %>:</span>
                                        <p>Info.cololib@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    <%- body %>

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="/img/footer-bg.jpg">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="/img/footer-logo.png" alt=""></a>
                            </div>
                            <p><%= __('subscribe') %></p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="<%= __('enter_email') %>">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4><%= __('property_city') %></h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4><%= __('social') %></h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="<%= settings['facebook'] %>">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="<%= settings['Instagram'] %>">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="<%= settings['twitter'] %>">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="<%= settings['google'] %>">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4><%= __('contact_us') %></h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i><%= settings['location'] %></li>
                                <li><i class="fa fa-phone"></i><%= settings['phone'] %></li>
                                <li><i class="fa fa-envelope"></i><%= settings['email'] %></li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="ti-heart" aria-hidden="true"></i> by <a href="https://pad-tr.com" target="_blank">PAD</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>