<!-- Map Section Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.5524090066037!2d-71.10245469994108!3d42.47980730490846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3748250c43a43%3A0xe1b9879a5e9b6657!2sWinter%20Street%20Public%20Parking%20Lot!5e0!3m2!1sen!2sbd!4v1577299251173!5m2!1sen!2sbd"
        height="500" style="border:0;" allowfullscreen=""></iframe>
    <div class="icon-list">
        <div class="icon icon-1">
            1
        </div>
        <div class="icon icon-2">
            2
        </div>
        <div class="icon icon-3">
            3
        </div>
        <div class="icon icon-4">
            4
        </div>
        <div class="icon icon-5">
            5
        </div>
    </div>
</div>
<!-- Map Section End -->

<!-- Property Section Begin -->
<section class="property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="property-sidebar">
                    <h4><%= __('search_property') %></h4>
                    <form action="/search" method="POST" class="sidebar-search">
                        <div class="sidebar-btn">
                            <div class="bt-item">
                                <input type="radio" name="s-type" id="st-buy" checked>
                                <label for="st-buy"><%= __('buy') %></label>
                            </div>
                            <div class="bt-item">
                                <input type="radio" name="s-type" id="st-rent">
                                <label for="st-rent"><%= __('rent') %></label>
                            </div>
                        </div>
                        <select name="type">
                            <option value=""><%= __('property_type') %></option>
                            <option value="villa"><%= __('villa') %></option>
                            <option value="townHouse"><%= __('town_house') %></option>
                            <option value="apartment"><%= __('apartment') %></option>
                        </select>
                        <select name="room">
                            <option value=""><%= __('bedroom') %></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6+</option>
                        </select>
                        <select name="bath">
                            <option value=""><%= __('bathroom') %></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6+</option>
                        </select>
                        <select name="furniture_type">
                            <option value=""><%= __('furniture_type') %></option>
                            <option value="villa"><%= __('unfurnished') %></option>
                            <option value="townHose"><%= __('furnished') %></option>
                            <option value="apartment"><%= __('semi_furnished') %></option>
                        </select>
                        <div class="room-size-range">
                            <div class="price-text">
                                <label for="roomsizeRangeP"><%= __('size') %>:</label>
                                <input type="text" name="space" id="roomsizeRangeP" readonly>
                            </div>
                            <div id="roomsize-range-P" class="slider"></div>
                        </div>
                        <div class="price-range-wrap">
                            <div class="price-text">
                                <label for="priceRangeP"><%= __('price') %>:</label>
                                <input type="text" name="price" id="priceRangeP" readonly>
                            </div>
                            <div id="price-range-P" class="slider"></div>
                        </div>
                        <input type="submit" value="<%= __('search') %>" class="search-btn" />
                    </form>
                    <div class="best-agents">
                        <h4><%= __('best_agents') %></h4>
                        <% top_agents.forEach(function(row) { %>
                            <a href="#" class="ba-item">
                                <div class="ba-pic agents-property-list">
                                    <img src="<%= row.image %>" alt="">
                                </div>
                                <div class="ba-text">
                                    <h5><%= row.name %></h5>
                                    <span><%= row.role %></span>
                                    <p class="property-items">6 <%= __('property') %> </p>
                                </div>
                            </a>
                         <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h4 class="property-title"><%= __('property') %></h4>
                <div class="property-list">
                    <%if(properties.length > 0){ 
                        properties.forEach(function(row) { %>
                        <div class="single-property-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="property-pic">
                                        <img src="<%= row.feature_image %>" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="property-text">
                                        <div class="s-text"><%= __('for_sale') %></div>
                                        <h5 class="r-title">Villa 9721 Glen Creek</h5>
                                        <div class="room-price">
                                            <span><%= __('start_from') %>:</span>
                                            <h5>$<%= row.price %></h5>
                                        </div>
                                        <div class="properties-location"><i class="icon_pin"></i><%= row.location %></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore.</p>
                                        <ul class="room-features">
                                            <li>
                                                <i class="fa fa-arrows"></i>
                                                <p><%= row.space %> sqft</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bed"></i>
                                                <p><%= row.rooms %> <%= __('bed_room') %></p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bath"></i>
                                                <p><%= row.abth %> <%= __('baths_bed') %></p>
                                            </li>
                                            <li>
                                                <i class="fa fa-car"></i>
                                                <p><%= row.garage %> <%= __('garage') %></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% })}else{%>
                        <p><%= __('no_data_found') %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Section End -->

<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <% partners.forEach(function(row) { %>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="<%= row.image %>" alt="">
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->