<!-- Property Details Hero Section Begin -->
<section class="pd-hero-section set-bg" data-setbg="/img/<%= property[0].feature_image %>">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="pd-hero-text">
                    <p class="room-location"><i class="icon_pin"></i> <%= property[0].location %></p>
                    <h2>Villa 9721 Glen Creek</h2>
                    <div class="room-price">
                        <span><%= __('start_from') %>:</span>
                        <p>$<%= property[0].price %></p>
                    </div>
                    <ul class="room-features">
                        <li>
                            <i class="fa fa-arrows"></i>
                            <p><%= property[0].space %></p>
                        </li>
                        <li>
                            <i class="fa fa-bed"></i>
                            <p><%= property[0].rooms %> <%= __('bed_room') %></p>
                        </li>
                        <li>
                            <i class="fa fa-bath"></i>
                            <p><%= property[0].bath %> <%= __('bathroom') %></p>
                        </li>
                        <li>
                            <i class="fa fa-car"></i>
                            <p><%= property[0].garage %> <%= __('garage') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Details Hero Section Begin -->

<!-- Property Details Section Begin -->
<section class="property-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="pd-details-text">
                    <div class="pd-details-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-send"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-print"></i></a>
                        <a href="#"><i class="fa fa-cloud-download"></i></a>
                    </div>
                    <div class="property-more-pic">
                        <% if(gallery.length == 0) { %>
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="/img/<%= property[0].feature_image %>" alt="">
                            </div>
                        <% } else{%>
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="/img/<%= gallery[0].name %>" alt="">
                            </div>
                        <% }%>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <% gallery.forEach(function(row) { %>
                                <div class="pt" data-imgbigurl="/img/<%= row.name %>"><img
                                    src="/img/<%= row.name %>" alt="">
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="pd-desc">
                        <h4><%= __('description') %></h4>
                        <p><%= property[0].description %></p>
                    </div>
                    <div class="pd-details-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab"><%= __('overview') %></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab"><%= __('description') %></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab"><%= __('amenities') %></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="property-more-table">
                                        <table class="left-table">
                                            <tbody>
                                                <tr>
                                                    <td class="pt-name"><%= __('price') %></td>
                                                    <td class="p-value">$ <%= property[0].price %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('property_type') %></td>
                                                    <td class="p-value"><%= property[0].type %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('built_year') %></td>
                                                    <td class="p-value"><%= property[0].built_year %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('bathroom') %></td>
                                                    <td class="p-value"><%= property[0].bath %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('bed_room') %></td>
                                                    <td class="p-value"><%= property[0].rooms %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Parking lots</td>
                                                    <td class="p-value"><%= property[0].garage %></td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Lot area</td>
                                                    <td class="p-value"><%= property[0].space %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="right-table">
                                            <tbody>
                                                <tr>
                                                    <td class="pt-name"><%= __('agent') %></td>
                                                    <td class="p-value">Adam Smith</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('reference') %></td>
                                                    <td class="p-value">#2019</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('contract_type') %></td>
                                                    <td class="p-value">Sale</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('beds') %></td>
                                                    <td class="p-value">4</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('garage') %></td>
                                                    <td class="p-value">2</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('home_area') %></td>
                                                    <td class="p-value">1200 sqft</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name"><%= __('garage_size') %></td>
                                                    <td class="p-value">200 sqft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="pd-table-desc">
                                        <p><%= property[0].description %></p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <div class="pd-table-amenities">
                                        <p><%= property[0].amenities %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property-map">
                        <h4><%= __('map') %></h4>
                        <div class="map-inside">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.5524090066037!2d-71.10245469994108!3d42.47980730490846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3748250c43a43%3A0xe1b9879a5e9b6657!2sWinter%20Street%20Public%20Parking%20Lot!5e0!3m2!1sen!2sbd!4v1577299251173!5m2!1sen!2sbd"
                                height="320" style="border:0;" allowfullscreen=""></iframe>
                            <div class="icon">
                                <i class="fa fa-home"></i>
                            </div>
                        </div>
                    </div>
                    <div class="property-contactus">
                        <h4><%= __('contact_us') %></h4>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="agent-desc">
                                    <img src="/img/properties/agent-contact.jpg" alt="">
                                    <div class="agent-title">
                                        <h5>Adam Smith</h5>
                                        <span>Saler Marketing</span>
                                    </div>
                                    <div class="agent-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                    <p>In today’s net-savvy world it has become common for any business to have a
                                        website which they use mostly for advertising their products and services.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-1">
                                <form action="#" class="agent-contact-form">
                                    <input type="text" placeholder="<%= __('name') %>*">
                                    <input type="text" placeholder="<%= __('email') %>">
                                    <textarea placeholder="<%= __('message') %>"></textarea>
                                    <button type="submit" class="site-btn"><%= __('send_message') %></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="property-sidebar">
                    <h4><%= __('search_property') %></h4>
                    <form action="/search" method="POST" class="sidebar-search">
                        <div class="sidebar-btn">
                            <div class="bt-item">
                                <input type="radio" name="s-type" id="st-buy" checked>
                                <label for="st-buy"><%= __('buy') %></label>
                            </div>
                            <div class="bt-item">
                                <input type="radio" name="s-type" id="st-rent">
                                <label for="st-rent"><%= __('rent') %></label>
                            </div>
                        </div>
                        <select name="type">
                            <option value=""><%= __('property_type') %></option>
                            <option value="villa"><%= __('villa') %></option>
                            <option value="townHouse"><%= __('town_house') %></option>
                            <option value="apartment"><%= __('apartment') %></option>
                        </select>
                        <select name="room">
                            <option value=""><%= __('bedroom') %></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6+</option>
                        </select>
                        <select name="bath">
                            <option value=""><%= __('bathroom') %></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6+</option>
                        </select>
                        <select name="furniture_type">
                            <option value=""><%= __('furniture_type') %></option>
                            <option value="villa"><%= __('unfurnished') %></option>
                            <option value="townHose"><%= __('furnished') %></option>
                            <option value="apartment"><%= __('semi_furnished') %></option>
                        </select>
                        <div class="room-size-range">
                            <div class="price-text">
                                <label for="roomsizeRangeP"><%= __('size') %>:</label>
                                <input type="text" name="space" id="roomsizeRangeP" readonly>
                            </div>
                            <div id="roomsize-range-P" class="slider"></div>
                        </div>
                        <div class="price-range-wrap">
                            <div class="price-text">
                                <label for="priceRangeP"><%= __('price') %>:</label>
                                <input type="text" name="price" id="priceRangeP" readonly>
                            </div>
                            <div id="price-range-P" class="slider"></div>
                        </div>
                        <input type="submit" value="<%= __('search') %>" class="search-btn" />
                    </form>
                    <div class="best-agents">
                        <h4><%= __('best_agents') %></h4>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="/img/properties/best-agent-1.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Lester Bradley</h5>
                                <span>Company Agents</span>
                                <p class="property-items">6 <%= __('property') %> </p>
                            </div>
                        </a>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="/img/properties/best-agent-2.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Janie Blair</h5>
                                <span>Company Agents</span>
                                <p class="property-items">6 <%= __('property') %> </p>
                            </div>
                        </a>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="/img/properties/best-agent-3.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Sophia Cole</h5>
                                <span>Marketing & Ceo</span>
                                <p class="property-items">6 <%= __('property') %> </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Details Section End -->

<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/img/partner/partner-1.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/img/partner/partner-2.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/img/partner/partner-3.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/img/partner/partner-4.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/img/partner/partner-5.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->